tema2/node_modules/
config.js
tema2/img/
tema3/SimpleChatImages/node_modules/
tema3/SimpleChatImages/simplechat-308917-c1625338d8e8.json
tema3/SimpleChatImages/app.js
tema4/SimpleChatWebApp/api/node_modules
tema4/SimpleChatWebApp/api/config.js
tema4/.vscode
tema4/.deployment