tema2/node_modules/
config.js
tema2/img/
tema3/SimpleChatImages/node_modules/
tema3/SimpleChatImages/simplechat-308917-c1625338d8e8.json
tema3/SimpleChatImages/app.js
tema4/SimpleChatWebApp/api/.vscode
tema4/SimpleChatWebApp/api/package-lock.json
tema4/SimpleChatWebApp/api/images/package-lock.json
tema4/SimpleChatWebApp/api/images/config.json
tema4/SimpleChatWebApp/api/images/node_modules/
tema4/SimpleChatWebApp/api/login/package-lock.json
tema4/SimpleChatWebApp/api/login/config.json
tema4/SimpleChatWebApp/api/login/node_modules/
tema4/SimpleChatWebApp/api/register/package-lock.json
tema4/SimpleChatWebApp/api/register/config.json
tema4/SimpleChatWebApp/api/register/node_modules/
tema4/SimpleChatWebApp/api/messages/package-lock.json
tema4/SimpleChatWebApp/api/messages/config.json
tema4/SimpleChatWebApp/api/messages/node_modules/
tema4/SimpleChatWebApp/api/users/package-lock.json
tema4/SimpleChatWebApp/api/users/config.json
tema4/SimpleChatWebApp/api/users/node_modules/
tema4/SimpleChatWebApp/api/.deployment
tema4/SimpleChatWebApp/node_modules/
tema4/SimpleChatWebApp/package-lock.json
tema4/SimpleChatWebApp/frontend/node_modules/
tema4/SimpleChatWebApp/frontend/package-lock.json
tema4/SimpleChatWebApp/frontend/.deployment
tema4/SimpleChatWebApp/frontend/config.json
tema4/SimpleChatWebApp/.vscode/
tema4/.vscode/
